<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/core-icon-button/core-icon-button.html">

<polymer-element name="post-card">
  <template>
    <style>
    :host {
      display: block;
      position: relative;
      background-color: white;
      padding: 1.5em;
      margin-bottom:3em;

    }
    .card-header {
      font-size: 1.2rem;
      font-weight: 300;
    }
    polyfill-next-selector { content: '.card-header h4'; }
    .card-header ::content h4 {
      margin: 0;
      font-size: 1.8rem;
      font-weight: 300;
    }
    polyfill-next-selector { content: '.card-header core-icon'; }
    .card-header ::content core-icon {
      border-radius: 50%;
      margin-left: 15px;
      color: #E65100;
    }
    </style>

    <div class="card-header" layout horizontal center>

      <content select="h4"></content>
      <content select="core-icon"></content>

    </div>

    <content></content>
  </template>
  <script>
  Polymer({
    publish: {
    },
  });
  </script>
</polymer-element>
