
body {
  font-family: RobotoDraft, sans-serif;
  color: #333;
  background-color: #E0E0E0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

pre {
  white-space: pre-wrap;
    
  background-color: #EEEEEE;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  margin-bottom: 10px;
  overflow: auto;
  padding: 5px;
  width: auto;
}

  

h3 {
  font-family: RobotoDraft, sans-serif;
  color: black;
  font-size: 50px;
  font-weight: 200;
}

h4 {
  font-family: RobotoDraft, sans-serif;
  color: black;
  font-size: 30px;
  font-weight: 130;
}

section {
  margin: 2em;
}

a, .pseudo-link {
  text-decoration: none;
  color: #FF9800;
}

a:hover, .pseudo-link:hover {
  text-decoration: underline;
  color: #FFA726;
}

core-toolbar.medium-tall, core-toolbar.main {
  background-color: #F57F17;
}

core-toolbar {
  background-color: #F9A825;
  color: white;
  font-size: 20px;
  font-weight: 400;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
}

core-toolbar core-icon {
  color: white;
}

paper-item core-icon {
  margin-right: 24px;
}

paper-item.core-selected {
  background-color: #FFECB3;
}

[drawer] {
  background-color: white;
}

core-header-panel.main {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

core-header-panel {
  position:static;
}

paper-button {
  margin: 0.5em 1em 0.5em 0;
  min-width: 3em;
}

paper-button[right] {
  position: fixed;
  right: 0;
}

paper-checkbox {
  margin-left: 1em;
}

paper-fab {
  position: absolute !important;
  right: 1em;
  z-index: 1;
}

core-toolbar paper-fab {
  top: 35px;
}

core-toolbar paper-item {
  font-size: 14px;
  color:black;
}

core-toolbar paper-item.core-selected {
  background-color: white;
}

core-toolbar paper-item core-icon {
  color:black;
}

paper-fab.bottom {
  position:fixed !important;
  bottom: 35px;
}

paper-tabs {
  background-color: #F57F17;
  color: #fff;
  max-width: 600px;
}

paper-tabs[noink][nobar] paper-tab.core-selected {
  color: #ffff8d;
}

paper-toast {
  background-color: white;
  color: black;
  outline: none; 
  right: 3em;
  left: auto;
  box-sizing: border-box;
  max-width: 300px;
}

html /deep/ [affirmative] {
  color:#F57F17;
  background-color: #FFECB3;
}

paper-spinner.preorder {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 28px;
}
